*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Open Sans', sans-serif;
background-color: black;
color: white;
font-size: 0.7em;
}

/* COLORS */


/* /COLORS */


/* GENERAL */
.container-width{
    margin: 0 auto;
    width: 80vw;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.debug{
    border: 1px solid rgb(255, 255, 255);
}
.flex{
    display: flex;
    flex-flow: row wrap;
}

/* /GENERAL */

/* MAIN */
.wrapper-content{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100%  - 90px);
}

main{
    width: calc(100% - 180px);
    background-color: #141922;
    height: 100%;
}
.main-content{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    
}
.main-content h1:nth-child(2){
    padding:20px 0 30px 20px;
    font-size: 2.5em;
}
.main-content h1:nth-child(7){
    padding:20px 0 0 20px;
    font-size: 2.5em;
}
.main-content h1:nth-child(4){
    padding:20px 0 0 20px;
    font-size: 2.5em;
}

.main-content>p{
    font-weight: 600;
    color:#a3a3a3 ;
    padding:5px 0 30px 20px;
    font-size: 1.1em;
}
.main-content h4{
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box p{
    color:#a3a3a3;
    font-weight: 600;
}


/* /MAIN */

/* HEADER */
header{
    justify-content: center;
    width: 100%;
    height: 50px;    
}
header ul li{
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}
header ul a{
    color: #a3a3a3;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    
    list-style: none;
    text-transform: uppercase;
}
header ul{
    align-items: center;
   
}
header li:hover{
    color: grey;
    border-bottom: 2px solid greenyellow;

}


/* SECTION */

/* Section1 */
.section1{
    margin-bottom: 20px;
    column-gap: 20px;
   
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding:0 20px;
    width: 100%;
}

.section2{
    margin-bottom: 20px;
    column-gap: 5px;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:0 20px;
    width: 100%;
}

.section3{
    margin-bottom: 20px;
    column-gap: 5px;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:0 20px;
    width: 100%;
  
}
.section3 div img{
    border-radius: 50%;
}

/* BOX */
.box{
    position: relative;
    text-align: center;
    align-self: flex-start;
    width: 200px;
}
.box img{ 
  
   
    width: 100%;
}

.box img:hover{
    filter: brightness(60%);
    background-image: url("https://www.pngkey.com/detail/u2t4e6o0q8y3y3w7_video-icon-clipart-video-play-circle/");
}

   
   
  
 



/* /SECTION */



/* NAV-TOP */
.nav-top{
    text-align: right;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right:0;
    background-color: #28282872;
}
.nav-top a{
    border-radius: 20px;
    border: 1px solid white;
    padding:5px 20px;
    text-decoration: none;
    text-transform:uppercase;
    margin-right: 30px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height:60px;
    background-color: #0903035d;
}
/* ASIDE */
aside{
    z-index: 100;
    width: 180px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside h3{
    color: white;
    padding-left: 10px;
    font-size: 1.5em;;
}
ul.menu.flex{
    flex-direction: column;
    row-gap: 5px;
    padding: 10px 0 20px 0;
}
aside ul li:hover{
    border-left: 3px solid greenyellow;
}

aside ul li a:hover{
    color: white;
}
aside ul li{
    color: #646464;
    padding-left: 10px;
}

ul.playlist.flex{
    align-items: center;
    padding-top: 5px;
    row-gap: 10px;
}
ul.playlist.flex i{
    padding-left: 10px;
}
ul.playlist.flex a:nth-child(2){
    padding-left: 10px;
    color: #a3a3a3;
    text-decoration: none;
    font-size: 1.3em;
}
ul.playlist.flex a:nth-child(2):hover{
    color: white;
}
aside ul:nth-child(2) li a:hover{
    color: white;
}



aside>li:hover{
    color: white;
}

aside ul li:hover{
    color: white;
}
aside ul li a:hover{
    color: white;
}

#logo{
    width: 80%;
}
#logo img{
    padding: 10px;
}
.fa-house,.fa-magnifying-glass,.fa-book-open{
    font-size: 1.6em;
}

.fa-square-plus{
    font-size: 3em;
    color: #a3a3a3;
}
.fa-square-plus:hover{
    color: white;
}

.playlist>li a{
    text-decoration: none;
    color: #a3a3a3;
}
.playlist>li{
    list-style: none;
}
.menu>li a{
    padding-left: 5px;
    text-decoration: none;
    list-style: none;
}
.menu>li{
    list-style: none;
}
aside ul:last-child li{
    list-style-type:none;
  
}
aside ul:nth-child(2) li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 5px;
   
  
}





/* /ASIDE */



/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: #282828;
}

/* NAV-LEFT */
div.player-bar.flex{
    flex-wrap: nowrap;
    height: 90px;
   
}
div.player-bar.flex img{
    margin-left: 10px;
    width: 70px;
}
div.nav-left{     
    column-gap: 20px;
    flex-basis: 20%;
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    align-items: center;
}
/* /NAV-LEFT */

/* NAV-CENTER */
div.nav-center{
    flex-wrap: nowrap;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}
input{
    margin: 0 10px;
    width: 200px;
    color: grey;
    background-color: #c40c0c; 
}
/* CONTROLS */
.fa-shuffle,.fa-backward-step,.fa-forward-step,.fa-forward-step,.fa-arrow-rotate-right{
    padding: 0 20px;
    font-size: 1.8em;
    cursor:pointer;
}
.fa-play{
    font-size: 2.5em;
}


.slider {   
    width: 300px;
    height: 5px;
    border-radius: 5px;  
    background: #e81616;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-moz-range-thumb {
    border-radius: 50%;
    background: #d1d1d1;
    cursor: pointer;
  }
  /* /NAV-CENTER */

  /* NAV-RIGHT */
  div.nav-right{
      display: flex;
      flex-direction: row;
      flex-basis: 20%;
      justify-content: space-around;
      align-items: center;
  }

  /* / NAV-RIGHT */
  .volume{
      width: 50%;
      height: 5px;
  }

  

  






