*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Open Sans', sans-serif;
background-color: black;
color: white;
font-size: 0.7em;
}

/* COLORS */


/* /COLORS */


/* GENERAL */
.container-width{
    margin: 0 auto;
    width: 80vw;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.debug{
    border: 1px solid rgb(255, 255, 255);
}
.flex{
    display: flex;
    flex-flow: row wrap;
}

/* /GENERAL */

/* MAIN */
.wrapper-content{
    position:relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100%  - 90px);
}

main{
    width: calc(100% - 180px);
    background-color: #141922;
    height: 100%;
}
.main-content{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    
}
div.main-content h1{
    padding:20px 0 30px 20px;
    font-size: 2em;
}


.main-content>p{
    font-weight: 600;
    color:#a3a3a3 ;
    padding:5px 0 30px 20px;
    font-size: 1.1em;
}
.main-content h4{
    transition: 0.3s;
    font-size: 2em;
    font-weight: 800;
    text-align: left;
}


/* /MAIN */

/* HEADER */
header{
    justify-content: center;
    width: 100%;
    height: 50px;    
}
header ul li{

    position: relative;
    transition: 0.4s;
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
   
    text-transform: uppercase;
}
header ul a{
    color: #a3a3a3;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
}
header ul{
    justify-content: center;
    align-items: center;
}

li:hover > .border-bottom{
   opacity: 1;
}

.border-bottom{
    transition: 0.3s;
    width: 50%;
    border: 1px solid hsl(84deg 76% 53%);
    background-color: hsl(84deg 76% 53%);
    position: absolute;
    bottom: -2px;
    right: 30%;
    opacity: 0;
}


/* SECTION */
.section1 h4{
    width: 100%;
    position: absolute;
    z-index: 1000;
    font-size: 3em;
}
.section1 h4:hover{
    font-size: 3.5em;
    text-decoration:3px line-through black;
}


/* Section1 */
.section1{
    z-index: 0;
    width: 100%;
    margin-bottom: 20px;
    column-gap: 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding:0 20px;
    row-gap: 20px;
}

.section2{
    margin-bottom: 20px;
    row-gap: 20px;
    column-gap: 20px;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding:0 20px;
    width: 100%;
}

.section3{
    margin-bottom: 20px;
    column-gap: 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding:0 20px;
    width: 100%;
  
}
.section3 div img{
    border-radius: 50%;
}

/* BOX */

.box.horizontal{
    position: relative;
    width:500px;
    height: 200px;
}
/* COLORS BOX */
.red{
    background-color: #e61e32;
}
.purple{
    background: #8d67ab;
}
.fucsia{
    background-color: #dc148c;
}
.green{
    background-color: #608108;
}
.mint-green{
    background-color: #27856a;
}
.blue{
    background-color: #1e3264;
}
.orange{
    background-color:#ba5d07 ;
}


.box{
    text-align: center;
    width:200px;
    height: 200px;
}

.box:hover{
    cursor: pointer;
    filter: brightness(120%);
   
}
div.box{
    overflow: hidden;
    padding:10px 10px 10px;
    border-radius: 5px;
}
.section2 .box img {
    filter: drop-shadow(0px 0px 5px #00000067);
    position: fixed;
    right: -79px;
    bottom: -155px;
    height: 100px;
    width: 100px;
}

div.image:hover{
    cursor: pointer;
    filter: brightness(120%);
}

.horizontal img {
    filter: drop-shadow(0px 0px 5px #00000067);
    position: fixed;
    right: -74px;
    bottom: -130px;
    height: 100px;
    width: 100px;
}
.image{
    transition: 0.3s;
    transform: rotate(25deg);
}
.section2 h4:hover{
    cursor: pointer;
    text-decoration:underline 2px black;
    font-size: 2.3em;
}

.circle>i{
    border-radius: 50%;
}

.image>i{  
    border-radius: 5px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000082;
    opacity: 0;
    position: absolute;
}
.box i:hover{    
    cursor: pointer;
    opacity: 1;
}

/* /SECTION */



/* NAV-TOP */
.nav-top{
    text-align: right;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: #28282872;
}
.nav-top a{
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid white;
    padding:5px 20px;
    text-decoration: none;
    text-transform:uppercase;
    margin-right: 30px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height:60px;
    background-color: #0903035d;
    transition: 0.2s;
}

.nav-top a:hover{
    font-size: 1.1em;
}
/* ASIDE */
aside{
   
    z-index: 100;
    width: 180px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside h3{
    color: white;
    padding-left: 10px;
    font-size: 1.5em;;
}
ul.menu.flex{
    flex-basis: 100%;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px 0 20px 0;
}

aside ul li:hover{
    font-size: 1.1em;
    transition: 0.2s;
    border-left: 3px solid #04AA6D;
}

aside ul li a:hover{
    color: white;
}
aside ul li{
    cursor: pointer;
    color: #a3a3a3;
    padding-left: 10px;
}

ul.playlist.flex{
    align-items: center;
    padding-top: 5px;
    row-gap: 10px;
}

ul.playlist.flex a:nth-child(2){
    padding-left: 10px;
    color: #a3a3a3;
    text-decoration: none;
    font-size: 1.3em;
}
ul.playlist.flex a:nth-child(2):hover{
    color: white;
}
aside ul:nth-child(2) li a:hover{
    color: white;
}
aside>li:hover{
    color: white;
}
aside ul li:hover{
    color: white;
}
aside ul li a:hover{
    color: white;
}

#logo{
    width: 80%;
}
#logo img:nth-child(2){
    display: none;
}
#logo img{
    padding: 10px;
}

.fa-house,.fa-magnifying-glass,.fa-book-open{
    cursor: pointer;
    font-size: 1.6em;
}

.fa-square-plus{
    padding-left: 10px;
    cursor: pointer;
    font-size: 3em;
    color: #a3a3a3;
}
.fa-square-plus:hover{
    color: white;
}

.playlist>li a{
    text-decoration: none;
    color: #a3a3a3;
}
.playlist>li{
    list-style: none;
}
.menu>li a{
    color: #a3a3a3;
    padding-left: 5px;
    text-decoration: none;
    list-style: none;
}
.menu>li{
    list-style: none;
}
aside ul:last-child li{
    list-style-type:none;
  
}
aside ul:nth-child(2) li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 5px;
}
aside ul:last-child li:first-child{
    
    padding-bottom: 10px;
    text-decoration: none;
}
aside ul:last-child li img{
    background-color: grey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
aside ul li.flex{
  
    padding-bottom: 10px;
    align-items: center;
}

.line{
    background-color: #767676;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: 1px;
    margin-bottom: 10px;
}
aside>ul:nth-child(2) li:nth-child(3){
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}
aside>ul:nth-child(2) li:nth-child(3) span{
    padding-left: 10px;
}
/* /ASIDE */
/* FOOTER */
footer{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: #282828;
}


/* NAV-LEFT */
div.player-bar.flex{
    cursor: pointer;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 90px;
   
}
div.player-bar.flex img{
    transition: 0.2s;
    margin-left: 10px;
    width: 70px;
}
div.player-bar.flex img:hover{
    margin-left: 0px;
    width: 90px;
}
div.nav-left{     
    column-gap: 10px;
    flex-basis: 25%;
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    align-items: center;
}
div.nav-left div.flex{
    flex-basis: 100%;
    flex-direction: column;
}
div.nav-left div.flex h4{
    font-size: 1.2em;
    flex-direction: column;
}
div.nav-left div.flex p{
    font-size: 0.9em;
    color: #767676;

}
/* /NAV-LEFT */

/* NAV-CENTER */
div.nav-center{
    flex-wrap: nowrap;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
div.top{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 40%;
    
}
input{
    margin: 0 10px;
    width: 200px;
    color: grey;
    background-color: #c40c0c; 
}
/* CONTROLS */
.fa-shuffle,.fa-backward-step,.fa-forward-step,.fa-forward-step,.fa-arrow-rotate-right{
    padding: 0 20px;
    font-size: 1.8em;
    cursor:pointer;
    transition: 0.3s;
}
.fa-shuffle:hover,.fa-backward-step:hover,.fa-forward-step:hover,.fa-forward-step:hover,.fa-arrow-rotate-right:hover{
    font-size: 2.5em;
    color: #04AA6D;
}

.fa-play{
    cursor: pointer;
    transition: 0.3s;
    font-size: 2.5em;
}
.top .fa-play:hover{
    color: #04AA6D;
    font-size: 3em;
}
div.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.slider {
-webkit-appearance: none;
  width: 60%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  .slider::-moz-range-thumb {
    border-radius: 50%;
    background: #b13030;
    color: #000000;
    cursor: pointer;
  }
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 8px;
    border-radius: 5px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  /* /NAV-CENTER */

  /* NAV-RIGHT */

  /* CONNECT */
  .connect {
    filter: drop-shadow(0px 0px 5px #00000067);
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 1006;
    width: 300px;
    height: 300px;
    background-color: #222624;
    position: fixed;
    bottom: 72px;
    right: 210px;
  }
    

.connect>div{
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
}
.connect div p:first-child{
    font-size: 1.4em;
    font-weight: 800;
}

.connect h2{
    font-weight: 800;
    text-align: center;
    width: 60%;
}

.connect img{
    width: 150px;
    height: 80px;
    filter: invert(100%);
}
.connect>div:hover
{
    cursor: pointer;
    color: #04AA6D;
}

.connect div>i{
    font-size: 3em;
}

.connect:after {
    content: " ";
    position: absolute;
    right: 112px;
    bottom: -15px;
    border-top: 15px solid #222624;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }
  div.nav-right{
     column-gap: 20px;
      display: flex;
      flex-direction: row;
      flex-basis: 25%;
      justify-content: flex-start;
      align-items: center;
  }
 .volume{
      width: 50%;
      height: 5px;
  }
  div.icons{
      column-gap: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-basis: 12%;
  }
  .volume {
    -webkit-appearance: none;
      width: 50%;
      height: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      }
      .volume::-moz-range-thumb {
        border-radius: 50%;
        color: #000000;
        cursor: pointer;
      }
      .volume:hover {
        opacity: 1;
      }
      
      .volume::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
      }
      
      .volume::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
      }

.fa-list:hover,
.fa-tv:hover,
.fa-volume-high:hover{
    transition: 0.2s;
    font-size: 1.5em;
  }
  /* / NAV-RIGHT */



  /* MEDIA QUERY */
  @media screen and (max-width: 1200px) {
      .connect{
          display: none;
      }
.section1 { 
    flex-flow: row wrap;
    }
    .section1 h4:hover{
        font-size: 2.8em;
        text-decoration:3px line-through black;
    }
    .box.horizontal {
        position: relative;
        width: 250px;
        height: 150px;
    }
    .section1 h4 {
        width: 50%;
        z-index: 1000;
        font-size: 2.5em;
    }
  }
  @media screen and (max-width: 768px) {
   
    
    div.nav-left div.flex{
        flex-basis: 100%;
        flex-direction: column;
    }
    div.nav-left div.flex h4{
        font-size: 1em;
        flex-direction: column;
    }
    div.nav-left div.flex p{
        font-size: 0.8em;
        color: #767676;
    }
    div.nav-left div:nth-child(3),
    div.nav-right div.icons{
        display: none;
    }
   
    div.nav-center{
        flex-basis: 40%;
        font-size: 0.7em;
    }

    .section1 h4 {
        width: 50%;
        position: absolute;
        z-index: 1000;
        font-size: 1.5em;
    }
    .section1 h4:hover{
        font-size: 1.8em;
        text-decoration:3px line-through black;
    }
    
    .horizontal img {
        filter: drop-shadow(0px 0px 5px #00000067);
        position: fixed;
        right: -51px;
        bottom: -74px;
        height: 80px;
        width: 80px;
    }

    .box.horizontal {
        position: relative;
        width: 225px;
        height: 100px;
    }
    .horizontal img{
        z-index: 0;
    }
    div.nav-left{    
        flex-basis: 30%;
        column-gap: 20px;             
    }
    div.icons{
        justify-content: space-between;
        display: flex;
        row-gap: 10px;
        flex-direction: column;
    }


    }
    @media screen and (max-width: 576px) {
        .box.horizontal{
            position: relative;
            width:500px;
            height: 100px;
        }
        .horizontal img {
            filter: drop-shadow(0px 0px 5px #00000067);
            position: fixed;
            right: -18px;
            bottom: -40px;
            height: 100px;
            width: 100px;
        }
        .box{
            height: 186.5px;
            width:calc(50% - 10px);
        }
     
        div.nav-center{
           font-size: 0.45em;
        }
        main{
            width:calc(100% - 50px);
        }
       
        div.player-bar.flex img{
            width:30px;
        }
        div.nav-right{
            font-size: 0.8em;
        }
       
        div.nav-left{   
            font-size: 0.9em; 
            column-gap: 5px;             
        }
        aside{
            align-items: center;
            width: 50px;
        }    
        .wrapper-content{
            justify-content: flex-start;
        }
        aside a,span,.line,.playlist,h3{
            display: none;
        }
        aside ul li{
            padding: 0;
        }
        ul.menu.flex{
            align-items: center;
        }
        aside ul:last-child li{
            text-align: center;
        }
        #logo img:nth-child(1){
            display: none;
            
        }
        #logo img:nth-child(2){
            margin: 10px auto;
            display: flex;
            padding:0;
            align-self: center;
            justify-self: center;
            width:30px;
        }
        .volume,.slider{
            height: 2px;
        }
        
    }
